@model news.Models.Admin
@{
    ViewBag.Title = "NewAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Admin</h2>
@Html.ValidationSummary()
@using (@Html.BeginForm("Create", "Admin"))
{
    <div class="form-group">
        @Html.LabelFor(n => n.Name)
        @Html.TextBoxFor(n => n.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.Email)
        @Html.TextBoxFor(n => n.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.Pass)
        @Html.TextBoxFor(n => n.Pass, new { @class = "form-control" })
    </div>
}
