<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })

    </li>
    <li class="nav-item">
        @Html.ActionLink("News", "Index", "News", null, new { @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Events", "Events", "Home", null, new { @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("About US", "About", "Home", null, new { @class = "nav-link" })
    </li>
</ul>